.banner{
    background: var(--azul-degrade);
    color: var(--branco);
    text-align: center;
}

.banner_titulo{
   font-size: 18px;
   font-weight: 700;
   padding: 2.5m 2em;
}

.bannr__texto{
    font-weight: 500;
    margin: 1em 0;
}

.banner_pequisa{
    background-color: tranparnte;
    border: 1px solid var(--branco);
    color: var(--branco);
    border-radius: 24 px;
    padding: 1em;
    width: 100%;
    border-radius: 24px;
}
